@model ToDo

<h2>
    @{
        if (Model.Id != 0)
        {
            <text>Edit Task</text>
        }
        else
        {
            <text>New Task</text>
        }
    }
</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="@((Model.Id != 0) ? "Update" : "Add")" method="post">
    @if (Model.Id != 0)
    {
        <input type="hidden" asp-for="Id" />
    }

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-select" asp-items="@(new SelectList(ViewBag.Categories,"CategoryId","Name"))">
            <option value=""></option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="DueDate" class="form-label">Due Date</label>
        <input asp-for="DueDate" class="form-control" type="text" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StatusId" class="form-label">Status</label>
        <select asp-for="StatusId" class="form-select" asp-items="@(new SelectList(ViewBag.Statuses,"StatusId","Name"))">
            <option value="">Choose a status</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">
        @if (Model.Id != 0)
        {
            <text>Update</text>
        }
        else
        {
            <text>Add</text>
        }
    </button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
@if (Model.Id != 0)
{
    <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
        <input type="hidden" asp-for="Id" />
        <hr />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
}